{% load staticfiles %}

 <!-- about -->
            <section id="about" class="gray-bg">
                <div class="container">
                    <div class="row os-animation" data-os-animation="fadeInUp">
                        <div class="col-md-12 col-sm-12 title-text display-inline">
                            <h2 class="title text-center">About Us</h2>
                            <div class="green-line"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 ">
                            <div class="col-md-6 col-sm-6"><img src="{% static "img/box.JPG" %}" alt="" /></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="margin-left">
                                    <h6>The Story</h6>
                                    <p class="margin-top-med margin-bottom-med"><strong>Elephant Box is the first UK based company to develop a range of stainless steel food containers for the UK & European market. Our company was born from a simple goal. To create products that mean people can stop buying and using plastic.</strong></p>
                                    <p>Back in 2010 an alternative to plastic for storing food was few and far between. Not only did Joy and I know plastic was harmful to both humans and the planet, things made of plastic just didn't last as well. We decided if Joy couldnt find a proper lunchbox for her kids to take to school, then we’d better go ahead and get one manufactured. Elephant Box was born...</p>
                                    <!--a class="small-button inner-link" href="#">Read More</a-->
                                </div>
                            </div>
                        </div>
                        <div class="divider-dark clear-both"></div>
                        <div class="col-md-12 col-sm-12 ">
                            <div class="col-md-6 col-sm-6">
                                <div class="margin-left">
                                    <h6>The Sustainable Solution</h6>
                                    <p class="margin-top-med margin-bottom-med"><strong>Elephant Box - Big and beautiful, the product that got the whole company started. Its a lunchbox for a proper packed lunch. Elephant Box also a great food storage box and cleverly designed to stack, so it's great for keeping all those kitchen essentials. Use a marker pen to personalise and keep track of what’s inside!</strong></p>
                                    <p>Stainless steel is naturally BPA and phlalate free. Unlike some plastics this means no chemicals can leach into your food or drinks. So it’s safer for you and your family.</p>
                                    <p>Stainless steel is easy to clean and stays that way it's whole life. No staining or odours.</p>
                                    <p>Our products are tough and durable. They will be with you for years. They won’t break, and you won't throw them away.</p>
                                    <!--a class="small-button inner-link" href="#">Read More</a-->
                                </div>
                            </div>
                            <div class="col-md-6  col-sm-6"><img src="{% static "img/lunch.JPG" %}" alt="" /></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about end -->
