{% extends "base.html" %}

{% load staticfiles %}
{% block content %}

{% load staticfiles %}
           <!-- contact -->
            <section id="contact" class="contact gray-bg">
                <div class="container">
                    <div class="row border-bottom os-animation text-center" data-os-animation="fadeInUp">
                        <div class="col-md-6 col-sm-6 title-text border-right">
                            <h2 class="title">Contact</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 simple-text">
                            <p class="description text-left"><strong>How can we help you?</strong> We like to talk and on the strength of that you are invited for a coffee at our head office.</p>
                        </div>
                    </div>
                    <div class="row contact-info os-animation" data-os-animation="fadeInUp">
                        <div class="col-md-6 col-sm-6 left-part">
                            <div class="head"> <span class="contact-title">how to reach us</span>
                                <p class="content contact-text">Please get in touch with us by email or using the contact form on this page.</p>
                            </div>

                            <ul class="icon-list">
                                <li class="divider"></li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:no-reply@domain.com">boxuk@gmail.com</a></li>
                                <li class="divider"></li>
                                <li><i class="fa fa-globe"></i><a href="{% url 'index' %}">www.elephantbox.co.uk</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-sm-6 right-part">
                            <div class="form-group">
                            {% if errors %}<ul>{% for error in errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
                            {% if success %}<p><strong>Thanks for the message! We'll be in touch shortly.</strong></p>{%endif%}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input class="form-control" name="name" placeholder="Your Name" type="text">
                                    <input class="form-control" name="subject" placeholder="Your Email" type="text">
                                    <textarea class="form-control" placeholder="Your Message" name="message"></textarea>
                                    <button id="submit-button" class="small-button text-left">Send message</button>
                            </div>
                            <div id="success"></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- contact end -->


{% endblock content %}
