{% extends "base.html" %}

{% load staticfiles %}
{% block content %}


        <!-- blog -->
            <section id="blog" class="blog gray-bg">
                <div class="container">
                    <div class="row border-bottom os-animation text-center" data-os-animation="fadeInUp">
                        <div class="col-md-6 col-sm-6 title-text border-right">
                            <h2 class="title">FAQ</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 simple-text">
                            <p class="description text-left">Frequently Asked Questions about <strong>Elephant Box</strong>.</p>
                        </div>
                    </div>
                    <div id="group-01" class="row blog-content os-animation group show active" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">Why stainless steel?</h5>
                                    <span class="month">March 15, 2015</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">There is much talk in the press about the dangers of plastics. Stainless steel ranks top in terms of safest containers for food. Plastics leak chemicals. Our products are not manufactured using tin or aluminum, or cheaply mass produced. They are heavy-duty and meant to last for years. They are made of 202 grade stainless steels. Aluminium is often marketed as a cheap alternative to plastic. Aluminium is no stranger to the safety debate due to the link to Alzheimer’s. Most aluminium water bottles contain an interior plastic coating to protect the contents from exposure, but this leaves you with a plastic bottle (see above). The coating can also degrade over time, particularly if your bottle gets dented. Stainless steel may be marginally heavier but it’s also that bit tougher than aluminium and therefore less prone to scratches and dents.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="group-02" class="row blog-content os-animation group show" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">Can I put these products in the dishwasher?</h5>
                                    <span class="month">March 20, 2015</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">Yes, all of our stainless steel products are safe to put in your dishwasher for cleaning. Unlike plastic, they will not hold odors or stain. You can also go traditional and wash them with soap and water!</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="group-03" class="row blog-content os-animation group show" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">Can I put them in a microwave?</h5>
                                    <span class="month">March 25, 2015</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">No, but you can put them in the oven....</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="group-04" class="row blog-content os-animation group show" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">Can I write on my boxes with a marker?</h5>
                                    <span class="month">March 27, 2015</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">Yes, use a non permanent marker to write your name or what leftovers are stashed inside.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="group-05">
                        <div id="group-05" class="row blog-content os-animation" data-os-animation="fadeInUp">
                            <div class="col-md-12 blog-image">
                                <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                            </div>
                            <div class="col-md-12 frameOverlay">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="blog-title">
                                        <h5 class="title">Do you offer a wholesale and branding service for companies and events?</h5>
                                        <span class="month">March 29, 2015</span> </div>
                                    <div class="blog-content-out">
                                        <p class="content">Yes, please <a href="{% url 'contact' %}">drop us line</a> to discuss details.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="group-06" class="row blog-content os-animation" data-os-animation="fadeInUp">
                            <div class="col-md-12 blog-image">
                                <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                            </div>
                            <div class="col-md-12 frameOverlay">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="blog-title">
                                        <h5 class="title">What if I am not 100% happy with my product?</h5>
                                        <span class="month">March 30, 2015</span> </div>
                                    <div class="blog-content-out">
                                        <p class="content">We provide a 100 % money back guarantee if you return the product to us within 28 days. We are proud of the materials and workmanship that goes into our product and back our products with a Lifetime Warranty. We expect your Elephant Box product to give you many years of faithful service, and we want to know if it has somehow failed to deliver. Normal wear and tear, including scratches and dents, are not covered under the Elephant Box warranty.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="group-07" class="row blog-content os-animation" data-os-animation="fadeInUp">
                            <div class="col-md-12 blog-image">
                                <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                            </div>
                            <div class="col-md-12 frameOverlay">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="blog-title">
                                        <h5 class="title">Is the Elephant Box leak proof?</h5>
                                        <span class="month">March 31, 2015</span> </div>
                                    <div class="blog-content-out">
                                        <p class="content">Our boxes are a modern version of the traditional Indian latch tiffin. Tiffins have been around for 50 years and the design has not changed for a reason - it just works. Simple. Beautiful. Functional. Latch tiffins were never designed to be 100% leak-proof. When latched, liquids will only spill out if the tiffin is left on its side and then it is generally a small dribble.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="group-08" class="row blog-content os-animation" data-os-animation="fadeInUp">
                            <div class="col-md-12 blog-image">
                                <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                            </div>
                            <div class="col-md-12 frameOverlay">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="blog-title">
                                        <h5 class="title">where are Elephant Box products manufactured?</h5>
                                        <span class="month">March 30, 2015</span> </div>
                                    <div class="blog-content-out">
                                        <p class="content">All our tins and containers are currently manufacted by one factory in India that we have strong personal relations with, this means that we can ensure that our ethical policy and labour standards can be met.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- blog end -->

{% endblock content %}
