<!-- about -->
            <section id="about" class="gray-bg no-padding-bottom">
                <div class="container">
                    <div class="row display-inline">
                        <div class=" clear-both">
                            <div class="col-md-12 col-sm-12 description dark-gray-text big text-justify"><p></p><p>Fed up with buying plastic?</p>Elephant Box is a brand new, never-seen-before stainless steel lunch box. A revolutionary real alternative to plastic containers.</p><p>We’ll be launching our Crowdfunder campaign at the end of April, giving you the chance to <strong><a href="https://www.crowdfunder.com/" target="_blank">pre-order an Elephant Box</a></strong> or to take advantage of one of our other tempting incentives.</p></div>
                        </div>
                    </div></div>

            </section>
            <!-- about end -->
