{% load staticfiles %}

<!-- products -->
            <section id="grid-gallery" class="grid-gallery no-padding-top no-padding-bottom">
                                <!--div class="os-animation text-center animated fadeInUp" data-os-animation="fadeInUp">
                        <p class="lead width">There's an Elephant Box for everyone.</p>
                        <br>
                    </div-->
                <div id="work" class="work grid-wrap">
                    <!-- portfolio tab -->

                    <ul class="grid portfolio row">
                        <li class="portfolio-item col-md-3 col-sm-3 fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/2.JPG" %}" alt="work-01" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 fashion product style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/8.JPG" %}" alt="work-02" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 fashion style product grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/3.JPG" %}" alt="work-03" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/10.JPG" %}" alt="work-04" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/12.JPG" %}" alt="work-04" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/17.JPG" %}" alt="work-04" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/4.JPG" %}" alt="work-04" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/16.JPG" %}" alt="work-04" />

                            </figure>
                        </li>

                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/21.JPG" %}" alt="work-04" />

                            </figure>
                        </li>

                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/22.JPG" %}" alt="work-04" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/24.JPG" %}" alt="work-04" />

                            </figure>
                        </li>
                        <li class="portfolio-item col-md-3 col-sm-3 illustration fashion style grid cs-style-3">
                            <figure class="portfolio-figure"> <img src="{% static "img/19.JPG" %}" alt="work-04" />

                            </figure>
                        </li>



                    </ul>
                </div>

            </section>
            <!-- products end -->
