{% load staticfiles %}
            <!-- skills -->
            <section class="orange-bg work-count">
                <div class="container">
                    <div class="row">
                        <div class="work-count-box col-md-4 col-sm-4 os-animation animated bounceIn" data-os-animation="bounceIn"> <span class="title-top">01.</span> <span class="title">Stainless Steel</span>
                            <div class="black-line-top"></div>
                            <div class="black-line-bottom"></div>
                            <p class="content-white">Stainless steel is naturally BPA and phlalate free. Unlike some plastics this means no chemicals can leach into your food or drinks. So it’s safer for you and your family.</p>
                            <a href="{% url "about" %}" class="small-button inner-link">Read More</a> </div>
                        <div class="work-count-box col-md-4 col-sm-4 os-animation animated bounceIn" data-os-animation="bounceIn"> <span class="title-top">02.</span> <span class="title">Clean</span>
                            <div class="black-line-top"></div>
                            <div class="black-line-bottom"></div>
                            <p class="content-white">Stainless steel is easy to clean and stays that way it's whole life. No staining or odours.</p>
                            <a href="{% url "about" %}" class="small-button inner-link">Read More</a> </div>
                        <div class="work-count-box col-md-4 col-sm-4 os-animation animated bounceIn" data-os-animation="bounceIn"> <span class="title-top">03.</span> <span class="title">Tough & Durable</span>
                            <div class="black-line-top"></div>
                            <div class="black-line-bottom"></div>
                            <p class="content-white">Our products are tough and durable. They will be with you for years. They won’t  break, and you won't throw them away. </p>
                            <a href="{% url "about" %}" class="small-button inner-link">Read More</a> </div>
                    </div>
                </div>
            </section>
            <!-- skills end -->
