{% load staticfiles %}
<section class="work-count">
<div class="container  hidden-sm hidden-xs ">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
        <div class="carousel-inner">
            <div class="item next left slider-img"><img src='{% static "img/slider/DSCN1432.JPG" %}' alt=""></div>
            <div class="item slider-img"> <img src='{% static "img/slider/IMG_0732.jpg" %}' alt=""></div>
            <div class="item slider-img"> <img src='{% static "img/slider/IMG_0734.jpg" %}' alt=""></div>
            <div class="item slider-img"> <img src='{% static "img/slider/DSCF3679.JPG" %}' alt=""></div>
            <div class="item slider-img"> <img src='{% static "img/slider/DSCF3667.JPG" %}' alt=""></div>
            <div class="item slider-img"> <img src='{% static "img/slider/spike with bike.JPG" %}' alt=""></div>
            <div class="item slider-img"> <img src='{% static "img/slider/IMG_0713.jpg" %}' alt=""></div>
            <div class="item slider-img"> <img src='{% static "img/slider/dog.jpg" %}' alt=""></div>
            <div class="item active left slider-img"> <img src='{% static "img/slider/IMG_0730.jpg" %}' alt=""></div>
        </div>
        <a class="left carousel-control icon-prev" href="#carousel-example-generic" role="button" data-slide="prev"> <i class="fa fa-angle-left"></i> </a> <a class="right carousel-control icon-next" href="#carousel-example-generic" role="button" data-slide="next"> <i class="fa fa-angle-right"></i> </a>
        </div>

        </div>
    <div class="col-md-2"></div>
    </div>

</div>
</section>

<a id="info" class="anchor" href='#'></a>
            <section class="orange-bg work-count">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 description white-text big text-justify">
                            <p>Fed up with buying plastic?</p>
                            <p>Elephant Box is a brand new, never-seen-before stainless steel lunch box. A revolutionary real alternative to plastic containers.</p>
                            <p>We’ll be launching our Crowdfunder campaign on the 6th May 2015, giving you the chance to <strong><a class="white-text" href="http://www.crowdfunder.co.uk/elephant-box/" target="blank">pre-order an Elephant Box</a></strong> or to take advantage of one of our other tempting incentives.</p>
                            <p><strong><a class="white-text" href="http://www.crowdfunder.co.uk/elephant-box/" target="_blank">Click here</a></strong> to get an Elephant Box.</p>
                        </div>

                    </div>
                </div>
            </section>
