{% load staticfiles %}

<a id="info" class="anchor" href='#'></a>
            <section class="orange-bg work-count">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 description white-text big text-justify">
                            <p>We have successfully crowdfunded! We now have 2000 of our beautiful Elephant Boxes in production. Everyone who has pledged for an Elephant Box will receive theirs in late August. You will be able to pre-order our products very soon. Watch this space, like us on Facebook, or follow us on Twitter to stay up to date with developments.</p><p>We are so very exited to be launching our range very soon.</p>
                        </div>

                    </div>
                </div>
            </section>


<section class="work-count">
<div class="container  hidden-sm hidden-xs ">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <iframe width="560" height="415" src="https://www.youtube.com/embed/8zu-cPk8_Is" frameborder="20" allowfullscreen></iframe>
        <iframe width="560" height="415" src="https://www.youtube.com/embed/gRqfPcIxXCQ" frameborder="20" allowfullscreen></iframe>
    </div>
    <div class="col-md-2"></div>
    </div>

</div>
</section>


