{% load staticfiles %}

<a id="info" class="anchor" href='#'></a>
            <section class="orange-bg work-count">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 description white-text big text-justify">
                            <p>Fed up with buying plastic?</p>
                            <p>Elephant Box is a brand new, never-seen-before stainless steel lunch box. A revolutionary real alternative to plastic containers.</p>
                            <p>Right now we are in the middle of our crowdfunding campaign to produce our first order of elephant boxes. If you want to find out more about our campaign and get your hands on one of the first Elephant Boxes at a special discount <strong><a class="white-text" href="http://www.crowdfunder.co.uk/elephant-box/" target="blank">you can do so here.</a></strong> Don't delay! Discount is only available until 3rd June.</p>
                        </div>

                    </div>
                </div>
            </section>


<section class="work-count">
<div class="container  hidden-sm hidden-xs ">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gRqfPcIxXCQ" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-2"></div>
    </div>

</div>
</section>


