{% load staticfiles %}
 <div class="home-slider full-screen">
                    <div id="carousel3" class="carousel slide " data-ride="carousel3" data-interval='false'>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#carousel3"></li>
                            <li data-slide-to="1" data-target="#carousel3" class=""></li>
                            <li data-slide-to="2" data-target="#carousel3" class=""></li>
                            <li data-slide-to="3" data-target="#carousel3" class=""></li>
                            <li data-slide-to="4" data-target="#carousel3" class=""></li>
                            <li data-slide-to="5" data-target="#carousel3" class=""></li>
                            <li data-slide-to="6" data-target="#carousel3" class=""></li>
                            <li data-slide-to="7" data-target="#carousel3" class=""></li>
                            <li data-slide-to="8" data-target="#carousel3" class=""></li>
                            <li data-slide-to="9" data-target="#carousel3" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/dog.JPG" %}');" class="fill"></div>

                            </div>
                            <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/sandwiches on cliff with sea.JPG" %}');" class="fill"></div>

                            </div>
                            <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/IMG_0732.jpg" %}');" class="fill"></div>

                            </div>
                            <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/IMG_0734.jpg" %}');" class="fill"></div>
                            </div>
                            <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/DSCN1432.JPG" %}');" class="fill"></div>
                            </div>
                            <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/DSCF3679.JPG" %}');" class="fill"></div>
                            </div>
                             <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/DSCF3667.JPG" %}');" class="fill"></div>
                            </div>
                             <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/spike with bike.JPG" %}');" class="fill"></div>
                            </div>
                              <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/IMG_0713.jpg" %}');" class="fill"></div>
                            </div>
                              <div class="item">
                                <div class="slider-gradient-overlay"></div>
                                <div style="background-image:url('{% static "img/slider/IMG_0730.jpg" %}');" class="fill"></div>
                            </div>

                        </div>
                    </div>
</div>
