{% load staticfiles %}

<!-- reviews -->
            <section id="testimonial" class="testimonial">
                <div class="color-overlay">
                    <div class="container">
                        <div class="row text-center os-animation" data-os-animation="fadeInUp">
                            <h2 class="title">Reviews</h2>
                        </div>
                        <div class="row text-center os-animation" data-os-animation="fadeInUp">
                            <div data-ride="carousel" class="carousel slide" id="myCarousel">
                                <ol class="carousel-indicators">
                                    <li data-slide-to="0" data-target="#myCarousel"></li>
                                    <li data-slide-to="1" data-target="#myCarousel"></li>
                                    <li data-slide-to="2" data-target="#myCarousel" class="active"></li>
                                    <li data-slide-to="3" data-target="#myCarousel"></li>
                                    <li data-slide-to="4" data-target="#myCarousel"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                <div class="white-line"></div>
                                                <span>jerry gordinter</span> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                <div class="white-line"></div>
                                                <span>Jone Doe</span> </div>
                                        </div>
                                    </div>
                                    <div class="item active">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                <div class="white-line"></div>
                                                <span>Tom Anthony</span> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                <div class="white-line"></div>
                                                <span>Stella Kromstain</span> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
                                                <div class="white-line"></div>
                                                <span>Jone Doe</span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- reviews end -->
