{% extends "campaign/base.html" %}

{% load staticfiles %}
{% block content %}

        <!-- about -->
            <section id="about" class="gray-bg">
                <div class="container">
                    <div class="row os-animation" data-os-animation="fadeInUp">
                        <div class="col-md-12 col-sm-12 title-text display-inline">
                            <h2 class="title text-center">About Us</h2>
                            <div class="green-line"></div>
                        </div>
                        <div class="col-md-12 col-sm-12 ">
                            <div class="col-md-6 col-sm-6"><img src="{% static "img/box.JPG" %}" alt="" /></div>
                            <div class="col-md-6 col-sm-6">
                                <div class="margin-left">
                                    <h6>The Story</h6>
                                    <p class="margin-top-med margin-bottom-med"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <!--a class="small-button inner-link" href="#">Read More</a-->
                                </div>
                            </div>
                        </div>
                        <div class="divider-dark clear-both"></div>
                        <div class="col-md-12 col-sm-12 ">
                            <div class="col-md-6 col-sm-6">
                                <div class="margin-left">
                                    <h6>Fresh from the garden</h6>
                                    <p class="margin-top-med margin-bottom-med"><strong>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    <!--a class="small-button inner-link" href="#">Read More</a-->
                                </div>
                            </div>
                            <div class="col-md-6  col-sm-6"><img src="{% static "img/lunch.JPG" %}" alt="" /></div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about end -->


{% endblock content %}
