{% load staticfiles %}
<!-- about -->
            <section id="about" class="gray-bg">
                <div class="container">
                    <div class="row os-animation text-center animated fadeInUp" data-os-animation="fadeInUp">
                        <p class="lead width">There's an Elephant Box for everyone.</p>
                        <br>
                    </div>
                    <a href="{% url 'about'%}">
                    <div class="row border-bottom os-animation text-center animated fadeInUp" data-os-animation="fadeInUp">
                        <div class="col-md-6 col-sm-6 title-text border-right">
                            <h2 class="title">About</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 simple-text">
                            <p class="description text-left">Welcome to Elephant Box. The home of beautiful and practical stainless steel food containers. Perfect for on-the-go and at home...</p>
                        </div>
                    </a>
                    </div>

                </div>
            </section>
            <!-- about end -->



