
{% extends "campaign/base.html" %}

{% load staticfiles %}
{% block content %}


<!-- blog listing -->
            <section id="blog-list" class="blog-list white-bg blog-page">
                <div class="container">
                    <div class="row">
                        <!-- left content area -->
                        <div class="col-md-8 col-sm-8 blog-left">
                            <div class="blog-listing">
                                <ul class="blog-post">
                                    <li class="post-preview">
                                        <div class="col-md-12 blog-wrapper no-padding"> <a href="blog-details.html">
                                        </a> </div>
                                        <div class="col-md-12 col-sm-12 blog-content no-padding">
                                            <div class="blog-title"> <span class="medium light-gray">Saturday  -  June 15, 2013 </span>
                                                <h3 class="title "><a href="blog-details.html">standard post with preview Picture</a></h3>
                                               </div>
                                            <article class="contentarea ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</article>
                                            <div class="blog-share"> <a class="small-button no-margin float-left" href="blog-details.html">Continue Reading</a>
                                                <div class="blogpost_share">
                                                    <ul class="text-center">
                                                        <li class="facebook"><a href="javascript:;"><i class="fa fa-facebook"></i></a></li>
                                                        <li class="twitter"><a href="javascript:;"><i class="fa fa-twitter"></i></a></li>
                                                        <li class="linkedin"><a href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
                                                        <li class="google-plus"><a href="javascript:;"><i class="fa fa-google-plus"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- blog listing end -->
                        </div>
                        <!-- right content -->
                        <div class="col-md-3 col-sm-3 blog-right">
                            <div class="sidepanel">

                                <div class="sidebar-block">
                                    <h6 class="title ">Popular posts</h6>
                                    <ul class="categories">
                                        <li><a href="javascript:;">Standard Post with Gallery</a><span>Saturday - June 15, 2013</span></li>
                                        <li><a href="javascript:;">Standard post with preview Video</a><span>Thursday - June 20, 2013</span></li>
                                        <li><a href="javascript:;">Standard post with preview Picture</a><span>Tuesday - June 25, 2013 </span></li>
                                        <li><a href="javascript:;">Standard post with preview Video</a><span>Thursday - June 27, 2013 </span></li>
                                        <li><a href="javascript:;">Standard post with preview picture</a><span>Saturday - June 15, 2013 </span></li>
                                    </ul>
                                </div>



                            </div>
                        </div>
                        <!-- right content end -->
                    </div>
                </div>

                <!-- pagination -->
                <div class="pagination border-top">
                    <ul class="pagerblock text-center">
                        <li><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
                        <li class="current"><a href="javascript:;">1</a></li>
                        <li><a href="javascript:;">2</a></li>
                        <li><a href="javascript:;">3</a></li>
                        <li><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- pagination end -->
            </section>
            <!-- blog list end -->
{% endblock content %}
