{% extends "campaign/base.html" %}

{% load staticfiles %}
{% block content %}


        <!-- blog -->
            <section id="blog" class="blog gray-bg">
                <div class="container">
                    <div class="row border-bottom os-animation text-center" data-os-animation="fadeInUp">
                        <div class="col-md-6 col-sm-6 title-text border-right">
                            <h2 class="title">FAQ</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 simple-text">
                            <p class="description text-left">Frequently Asked Questions about <strong>Elephant Box</strong>.</p>
                        </div>
                    </div>
                    <div id="group-01" class="row blog-content os-animation group show active" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">standard post with preview picture</h5>
                                    <span class="month">June 15, 2013  &nbsp;/&nbsp;  By Admin in Creative, Design</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="group-02" class="row blog-content os-animation group show" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">standard post with gallery</h5>
                                    <span class="month">June 20, 2013  &nbsp;/&nbsp;  By Admin in Creative, Design</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="group-03" class="row blog-content os-animation group show" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">simple post with preview video</h5>
                                    <span class="month">June 25, 2013  &nbsp;/&nbsp;  By Admin in Creative, Design</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div id="group-04" class="row blog-content os-animation group show" data-os-animation="fadeInUp">
                        <div class="col-md-12 blog-image">
                            <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                        </div>
                        <div class="col-md-12 frameOverlay">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="blog-title">
                                    <h5 class="title">standard post with preview picture</h5>
                                    <span class="month">June 27, 2013  &nbsp;/&nbsp;  By Admin in Creative, Design</span> </div>
                                <div class="blog-content-out">
                                    <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div id="group-05" class="row blog-content os-animation" data-os-animation="fadeInUp">
                            <div class="col-md-12 blog-image">
                                <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                            </div>
                            <div class="col-md-12 frameOverlay">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="blog-title">
                                        <h5 class="title">standard post with preview picture</h5>
                                        <span class="month">June 29, 2013  &nbsp;/&nbsp;  By Admin in Creative, Design</span> </div>
                                    <div class="blog-content-out">
                                        <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="group-06" class="row blog-content os-animation" data-os-animation="fadeInUp">
                            <div class="col-md-12 blog-image">
                                <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                            </div>
                            <div class="col-md-12 frameOverlay">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="blog-title">
                                        <h5 class="title">standard post with preview picture</h5>
                                        <span class="month">June 30, 2013  &nbsp;/&nbsp;  By Admin in Creative, Design</span> </div>
                                    <div class="blog-content-out">
                                        <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div id="group-07" class="row blog-content os-animation" data-os-animation="fadeInUp">
                            <div class="col-md-12 blog-image">
                                <div class="col-md-1 blog-day text-center"> <span>Q:</span> </div>
                            </div>
                            <div class="col-md-12 frameOverlay">
                                <div class="col-md-10 col-md-offset-2">
                                    <div class="blog-title">
                                        <h5 class="title">standard post with preview picture</h5>
                                        <span class="month">June 31, 2013  &nbsp;/&nbsp;  By Admin in Creative, Design</span> </div>
                                    <div class="blog-content-out">
                                        <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- blog end -->

{% endblock content %}
