<!-- about -->
            <section id="about" class="no-padding-bottom">
                <div class="container">
                    <div class="row os-animation animated" data-os-animation="fadeInUp">
                        <div class=" clear-both">
                            <div class="col-md-11 col-sm-11 white-text description margin-top margin-bottom margin-auto-center dark-gray-text big">Fed up with buying plastic? <strong>Elephant Box</strong> is a brand new, never-seen-before stainless steel lunch box. A revolutionary real alternative to plastic containers.</div>

                            <div class="col-md-11 col-sm-11 white-text description margin-top margin-bottom margin-auto-center dark-gray-text big">We’ll be launching our Crowdfunder campaign at the end of April, giving you the chance to pre-order an <strong>Elephant Box</strong> or to take advantage of one of our other tempting incentives. </div>
                        </div>
                    </div></div>

            </section>
            <!-- about end -->
