{% load staticfiles %}
<section id="book" class="book gray-bg">
<div class="color-overlay">


    <div class="container">
        <div class="row text-center os-animation" data-os-animation="fadeInUp">



            <!--h1 class="title white-text">The Elephant Box</h1-->
            <div class="col-md-8 col-sm-8 book-a-table">
                We're almost ready...<br>
                <a href="#contact" class="highlight-button inner-link" id="hrefabout">Pre-Order Now!</a>
            </div>
        </div>
    </div>
    </div>
</section>
