{% load staticfiles %}

<!DOCTYPE html>
<html class="" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="{% static "css/css_002.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/css.css" %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/animation.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

        <link href="{% static "img/eboxweb.png" %}" rel="image_src" />
        <meta name="description" content="Elephant Box is a brand new, never-seen-before stainless steel lunch box. A revolutionary real alternative to plastic containers.">

        <meta property="og:description" content="Elephant Box is a brand new, never-seen-before stainless steel lunch box. A revolutionary real alternative to plastic containers.">
        <meta property="og:site name" content="Elephant Box.">
        <meta property="og:image" content="{% static "img/eboxweb.png" %}">
        <meta property="og:title" content="{{title }}">
    </head>

    <body>
        <!-- main page -->
        <div class="main">

        {% include "campaign/header.html" %}

        {% block content %}

        {% endblock content %}


        {% include "campaign/footer.html" %}


            <!-- scroll to top -->
            <a style="display: inline;" href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
            <!-- scroll to top End... -->

        </div>
        <!-- main page end -->
        <!-- javascript  -->
        <!-- Placed at the End of the document so the pages load faster -->
        <!-- jQuery -->
        <script src="{% static "js/jquery_002.js" %}"></script>

        <!-- custom javascript  -->
        <script src="{% static "js/custom.js" %}"></script>
        <!-- bootstrap  -->
        <script src="{% static "js/bootstrap-custom.js" %}"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-62424329-1', 'auto');
          ga('send', 'pageview');

        </script>

        {% block footer-javascript %}
        {%endblock%}


</body></html>
