{% load staticfiles %}

<!DOCTYPE html>
<html class="" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <title>{{title}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="{% static "css/css_002.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/css.css" %}">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static "css/animation.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

        <meta name="google-site-verification" content="FEtjtImBKAf8j-k0-emxKguB4b8wUNPECbaZEXu6Bio" />

    </head>

    <body>
        <!-- main page -->
        <div class="main">

        {% include "campaign/header.html" %}

        {% block content %}

        {% endblock content %}


        {% include "campaign/footer.html" %}


            <!-- scroll to top -->
            <a style="display: inline;" href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
            <!-- scroll to top End... -->

        </div>
        <!-- main page end -->
        <!-- javascript  -->
        <!-- Placed at the End of the document so the pages load faster -->
        <!-- jQuery -->
        <script src="{% static "js/jquery_002.js" %}"></script>

        <!-- custom javascript  -->
        <script src="{% static "js/custom.js" %}"></script>
        <!-- bootstrap  -->
        <script src="{% static "js/bootstrap-custom.js" %}"></script>

        {% block footer-javascript %}
        {%endblock%}


</body></html>
