<div class="col-md-12 blog-wrapper no-padding">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item next left"><img src='{% static "img/slider/sandwiches on cliff with sea.JPG" %}' alt=""></div>
            <div class="item"> <img src='{% static "img/slider/IMG_0732.jpg" %}' alt=""></div>
            <div class="item active left"> <img src='{% static "img/slider/IMG_0734.jpg" %}' alt=""></div>
        </div>
        <a class="left carousel-control icon-prev" href="#carousel-example-generic" role="button" data-slide="prev"> <i class="fa fa-angle-left"></i> </a> <a class="right carousel-control icon-next" href="#carousel-example-generic" role="button" data-slide="next"> <i class="fa fa-angle-right"></i> </a> </div>
    </div>
