{% load staticfiles %}

<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions  skrollr skrollr-desktop js no-touch js csstransforms3d csstransitions csstransforms" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <title>Elephant Box</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" type="text/css" href="{% static "css/css_002.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/css.css" %}">
        <!--link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}"-->
        <link rel="stylesheet" type="text/css" href="{% static "css/animation.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">


    </head>
<body>

    <body>
        <!-- main page -->
        <div class="main">

            <!-- header-->
            <header style="background-position: 50% 4328.5px;" id="home" data-stellar-background-ratio="0.5" class="header animated">
                <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav shrink-nav" role="navigation">
                    <div class="container main-navigation">
                        <div class="col-md-3 float-left"> <a class="logo-dark" href="#home"><img alt="logo-dark" src="{% static "img/logo-dark.png" %}" class="logo-dark"></a> <a class="logo-light" href="#home"><img alt="logo-white" src="{% static "img/logo-white.png" %}" class="logo-white"></a> </div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle Navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        </div>
                        <div class="col-md-9 text-left float-right collapse-navation">
                            <div class="navbar-collapse collapse navbar-inverse no-transition">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class=""><a id="nav-work" href="#work">Shop</a></li>
                                    <li class=""><a id="nav-about" href="#about">About</a></li>
                                    <li class=""><a id="nav-expertise" href="#expertise">FAQ</a></li>
                                    <li class=""><a id="nav-team" href="#team">Customer Care</a></li>
                                    <li class=""><a id="nav-blog" href="#blog">Blog</a></li>
                                    <li class=""><a id="nav-giving" href="#blog">Giving Back</a></li>
                                    <li class=""><a id="nav-contact" href="#contact">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
                <div style="min-height: 641px;" class="color-overlay full-screen">
                    <!-- header text -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 text-center">
                                <div class="intro-section os-animation animated fadeIn" data-os-animation="fadeIn">
                                <div class="logo">
                                <img src="{% static "img/round_logo.png" %}">
                                </div>
                                    <h1 class="intro">
                                    <span class="highlight">ELEPHANT BOX</span><br>
                                        Stainless Steel Food Containers</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </header>
            <!-- header end -->

            <!-- about -->
            <section id="about" class="gray-bg">
                <div class="container">
                    <div class="row os-animation text-center animated fadeInUp" data-os-animation="fadeInUp">
                        <p class="lead width">There's an Elephant Box for everyone.</p>
                        <br>
                        <a id="href-about" class="highlight-button-orange inner-link" href="#">BUY NOW</a>
                    </div>
                    <div class="row border-bottom os-animation text-center animated fadeInUp" data-os-animation="fadeInUp">
                        <div class="col-md-6 col-sm-6 title-text border-right">
                            <h2 class="title">About</h2>
                        </div>
                        <div class="col-md-6 col-sm-6 simple-text">
                            <p class="description text-left">Welcome to Elephant Box. The home of beautiful and practical stainless steel food containers. Perfect for on-the-go and at home...</p>
                        </div>
                    </div>

                </div>
            </section>
            <!-- about end -->


            <!-- skills -->
            <section class="orange-bg work-count">
                <div class="container">
                    <div class="row">
                        <div class="work-count-box col-md-4 col-sm-4 os-animation animated bounceIn" data-os-animation="bounceIn"> <span class="title-top">01.</span> <span class="title">Stainless Steel</span>
                            <div class="black-line-top"></div>
                            <div class="black-line-bottom"></div>
                            <p class="content-white">Stainless steel is naturally BPA and phlalate free. Unlike some plastics this means no chemicals can leach into your food or drinks. So it’s safer for you and your family.</p>
                            <a href="#expertise" class="small-button inner-link">Read More</a> </div>
                        <div class="work-count-box col-md-4 col-sm-4 os-animation animated bounceIn" data-os-animation="bounceIn"> <span class="title-top">02.</span> <span class="title">Clean</span>
                            <div class="black-line-top"></div>
                            <div class="black-line-bottom"></div>
                            <p class="content-white">Stainless steel is easy to clean and stays that way it's whole life. No staining or odours.</p>
                            <a href="#expertise" class="small-button inner-link">Read More</a> </div>
                        <div class="work-count-box col-md-4 col-sm-4 os-animation animated bounceIn" data-os-animation="bounceIn"> <span class="title-top">03.</span> <span class="title">Tough & Durable</span>
                            <div class="black-line-top"></div>
                            <div class="black-line-bottom"></div>
                            <p class="content-white">Our products are tough and durable. They will be with you for years. They won’t  break, and you won't throw them away. </p>
                            <a href="#expertise" class="small-button inner-link">Read More</a> </div>
                    </div>
                </div>
            </section>
            <!-- skills end -->

            <!-- testimonial -->
            <section id="testimonial" class="testimonial">
                <div class="color-overlay">
                    <div class="container">
                        <div class="row text-center os-animation animated fadeInUp" data-os-animation="fadeInUp">
                            <h2 class="title">Testimonial</h2>
                        </div>
                        <div class="row text-center os-animation animated fadeInUp" data-os-animation="fadeInUp">
                            <div data-ride="carousel" class="carousel slide" id="myCarousel">
                                <ol class="carousel-indicators">
                                    <li class="" data-slide-to="0" data-target="#myCarousel"></li>
                                    <li class="" data-slide-to="1" data-target="#myCarousel"></li>
                                    <li data-slide-to="2" data-target="#myCarousel" class=""></li>
                                    <li class="" data-slide-to="3" data-target="#myCarousel"></li>
                                    <li class="active" data-slide-to="4" data-target="#myCarousel"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>There is something really great to be said about Elephant Box and this is where I'm saying it.</p>
                                                <div class="white-line"></div>
                                                <span>John Doe</span> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>There is something really great to be said about Elephant Box and this is where I'm saying it.</p>
                                                <div class="white-line"></div>
                                                <span>John Doe</span> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>There is something really great to be said about Elephant Box and this is where I'm saying it.</p>
                                                <div class="white-line"></div>
                                                <span>John Doe</span> </div>
                                        </div>
                                    </div>
                                    <div class="item-active">
                                        <div class="container">
                                            <div class="carousel-caption">
                                                <p>There is something really great to be said about Elephant Box and this is where I'm saying it.</p>
                                                <div class="white-line"></div>
                                                <span>John Doe</span> </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial end -->







            <!-- footer -->
            <footer id="footer" class="footer">
                <div class="color-overlay">
                    <div class="container">
                        <div>
                            <ul class="social footer-social text-center">
                                <li><a href="http://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="http://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="http://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="http://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="transparent-line"></div>
                        </div>
                        <div>
                            <p class="text-center content-white copy">© 2015 Elephant Box.</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end -->

            <!-- scroll to top -->
            <a style="display: inline;" href="javascript:;" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
            <!-- scroll to top End... -->

        </div>
        <!-- main page end -->
        <!-- javascript  -->
        <!-- Placed at the End of the document so the pages load faster -->
        <!-- jQuery -->
        <script src="{% static "js/jquery_002.js" %}"></script>

        <!-- custom javascript  -->
        <script src="{% static "js/custom.js" %}"></script>
        <!-- bootstrap  -->
        <script src="{% static "js/bootstrap-custom.js" %}"></script>

</body></html>
